@font-face {
    font-family: 'montserrat';
    src: url('Monserrat.ttf');
}


#divfond{
	display:  flex;
	margin-bottom: 150px;
	top: 0px;
	height: 400px;
	width:  101%;
	width:  100%;
	flex-direction: column;
	align-items: center;

}

#fond{
	margin-bottom:  -70px;
	width:  100%;

}
h1 {
	color:  white;
	text-shadow: 2px 2px 8px #758761;
	box-shadow: 2px 2px 5px #e0e0e0;
	font-size: 50px;
	font-family: montserrat;
	padding:  25px;
	margin-left:  20px;
	margin-right:  20px;
	margin-bottom: 0px;
	background: linear-gradient(45deg, #62ab1f, #2796d6);
	border-radius: 28px 0px 28px 0px;

}
#divauteurs {
	display:  flex;
	justify-content:  center;
    align-items: center;
}
.icon {
	height:  35px;
	

}
#auteurs{
	color:  #838383;
	font-family: montserrat;
	font-size: 20px;
	margin-left:  10px;
}
article{
	background-color:  #F4FFE5;
	
	margin:  auto;

	margin-right:  50px;
	padding:  25px;
	max-width: 80%;
	margin-bottom: 100px;
}

h2{
	font-family: montserrat;
	font-size: 35px;

}
p, nav{
	font-family: montserrat;
	font-size: 1em;

}

#page{
	display:  flex;
	flex-direction: row;
}
nav{
	padding: 30px;
	

	background-color: #dceffa;	
	height:  260px;
	width:  250px;
	margin:  30px;
	margin-top: 0px;

}
ul{
	list-style-type: none;
	border-left: 2px solid #c3d4de;
	padding-left:  15px;
}
li{
	padding:  5px;
}
a{
	text-decoration: none;
	color:  black;

}

li:hover{
	background-color: #c3d4de;
}
h3{
	padding:  0px;
	margin:  0px;
}
footer{
	background-color: #F3F3F3;
	margin:  auto;
	padding:  20px;
}












